.features .features-content {
  z-index: 2;
  position: relative;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.features-item {
  text-align: center;
  padding: 30px;
  border-radius: 50px;
  background: linear-gradient(105deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  -moz-transition: background-color .5s;
  height: 95%;
}

.f-1 {
  background: linear-gradient(105deg, rgba(51, 204, 197, 1) 0%, rgba(8, 141, 195, 1) 100%);
}

.f-2 {
  background: linear-gradient(105deg, rgba(105, 51, 204, 1) 0%, rgba(47, 120, 202, 1) 100%);
}

.f-3 {
  background: linear-gradient(105deg, rgba(170, 16, 162, 1) 0%, rgba(120, 76, 160, 1) 100%);
}

.f-4 {
  background: linear-gradient(105deg, rgba(204, 94, 51, 1) 0%, rgb(216, 34, 34) 100%);
}

.f-1:hover {
  background-image: linear-gradient(rgba(51, 204, 197, 1), rgba(0, 0, 0, 0.5));
}

.f-2:hover {
  background-image: linear-gradient(rgba(105, 51, 204, 1), rgba(0, 0, 0, 0.5));
}

.f-3:hover {
  background-image: linear-gradient(rgba(170, 16, 162, 1), rgba(0, 0, 0, 0.5));
}

.f-4:hover {
  background-image: linear-gradient(rgba(204, 94, 51, 1), rgba(0, 0, 0, 0.5));
}

.features-item .line-dec {
  background-color: rgba(255, 255, 255, 0.3);
}

.features-item .icon i {
  color: #fff;
}

.features-item .number h6 {
  background-repeat: no-repeat;
  width: 110px;
  height: 69px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 69px;
  margin-top: -65px;
  margin-bottom: 30px;
}

.features-item .first-number h6 {
  background-image: url(../images/Features-number/features-number-01.png);
}

.features-item .second-number h6 {
  background-image: url(../images/Features-number/features-number-02.png);
}

.features-item .third-number h6 {
  background-image: url(../images/Features-number/features-number-03.png);
}

.features-item .fourth-number h6 {
  background-image: url(../images/Features-number/features-number-04.png);
}

.features-item .icon {
  width: 63px;
  height: 63px;
  margin: 0 auto;
  transition: all 0.5s;
}

.features-item h4 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  position: relative;
  transition: all 0.5s;
}

.features-item .line-dec {
  width: 100px;
  height: 2px;
  background-color: rgba(51, 204, 197, 0.3);
  margin: 30px auto;
  transition: all 0.5s;
}

.features-item p {
  position: relative;
  margin-top: 0px;
  transition: all 0.5s;
  color: #fff;
}

.features-item .icon {
  width: 63px;
  height: 63px;
  margin: 0 auto;
  transition: all 0.5s ease-in;
}

.col-lg-3 {
  margin-top: 40px !important;
}